.container {
  height: 71px;
  box-shadow: 0px 1px 8px #888888;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img {
  height: 80%;
  cursor: pointer;
}

.btn {
  margin: 0 10px;
  padding: 10px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container-dark {
  background-color: rgb(36, 35, 35);
  height: 71px;
  box-shadow: 0px 1px 8px #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
