.loadmore {
  cursor: pointer;
  background-color: white;
  border: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 4px 25px;
  font-size: 13px;
  margin-top: -5px;
  transition: box-shadow 0.25s;
}

.loadmore:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: box-shadow 0.25s;
}

.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-dark {
  background-color: rgb(36, 35, 35);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.loadmore-dark {
  cursor: pointer;
  background-color: rgb(179, 176, 176);
  border: none;
  box-shadow: 0 2px 5px 0 rgb(255, 255, 255), 0 2px 10px 0 rgb(255, 255, 255);
  padding: 4px 25px;
  font-size: 13px;
  margin-top: -5px;
  transition: box-shadow 0.25s;
}

.loadmore-dark:hover {
  box-shadow: 0 8px 17px 0 rgba(255, 255, 255, 0.796),
    0 6px 20px 0 rgba(255, 255, 255, 0.794);
  transition: box-shadow 0.25s;
}

.scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 30px;
  width: 50px;
  height: 50px;
  border: none;
  background-color: #29a2d5;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  z-index: 1000;
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out;
}

.scrollToTop:hover {
  opacity: 1;
}